*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    display: grid;
    width: 100%;
    grid-template-areas: 
    "c1"
    "c2"
    "c3"
    "c4"
    "c5";

}
.cg{
    width: 100%;
    height: 200px;
}
.c1{
    grid-area: c1;
    background-color: fuchsia;
}
.c2{
    grid-area: c2;
    background-color: greenyellow;
}
.c3{
    grid-area: c3;
    background-color: darkseagreen;
}
.c4{
    grid-area: c4;
    background-color:lightblue ;
}
.c5{
    grid-area: c5;
    background-color: darksalmon;
}

@media( min-width:768px){
    .container{
        grid-template-areas: 
        "c1 c2"
        "c3 c4"
        "c5 c5";
    }
}
@media( min-width:1200px){
    .container{
        grid-template-areas: 
        "c1 c1 c1"
        "c2 c5 c4"
        "c3 c3 c4";
    }
    
}