
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "c1 c1 c1"
    "c2 c2 c3"
    "c4 c5 c5";
}

.cg{
    width: 100%;
    height: 200px;
}
.c1{
    grid-area: c1;
    background-color: fuchsia;
}
.c2{
    grid-area: c2;
    background-color: greenyellow;
}
.c3{
    grid-area: c3;
    background-color: darkseagreen;
}
.c4{
    grid-area: c4;
    background-color:lightblue ;
}
.c5{
    grid-area: c5;
    background-color: darksalmon;
}

@media(max-width: 992px){
    .container{
        grid-template-areas: 
        "c1 c2 c3"
        "c1 c4 c4"
        "c1 c5 c5";
    }
    .c1{
        height: auto;
    }

}
@media(max-width: 576px){
    .container{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "c1"
        "c2"
        "c3"
        "c4" 
        "c5";
    }
    .c1{
        height: auto;
    }

}